# Only trackign scripts, not data

# Directories
archive
data_picogreen
data_CO2
data_DOC
data_soilgeochem
data_waterloss
data_protein
fieldsite_monkeyrun
pictures
preliminary_exps
protocols
r.objects
script_templates
figures

# Files
*.csv
*.tsv
*.txt
*.pdf

# Other
*.Rproj
.Rproj.user
.Rhistory
