# Only trackign scripts, not data

# Directories
archive
scripts/archive
scripts/archive_031222
scripts/SFA2_preliminary
data_picogreen
data_CO2
data_DOC
data_soilgeochem
data_waterloss
data_protein
data_amplicon
data_intermediate
fieldsite_monkeyrun
pictures
preliminary_exps
protocols
figures
rmarkdown_files
template_scripts
paprica_analysis

# Data and other files
*.csv
*.tsv
*.txt
*.pdf
*.html

# Other
*.Rproj
.Rproj.user
.Rhistory
